$btn-color: rgb(169, 44, 194);
$text-color-white: #fff;
$btn-size: 50px;
$width-multiplier : 1.7;
$border_default: 1px solid red;

.btn_stopwatch{
    background-color: $btn-color;
    height: $btn-size;
    width: $btn-size * $width-multiplier;
    margin-right: $btn-size;
    margin-bottom: $btn-size/2;
    cursor: pointer;
    border: 0;
    border-radius: 10px;
    color: $text-color-white;
}
.btn_timer{
    color: $text-color-white;
    // border: $border_default;
    font: {
        family: Helvetica, sans-serif;
        size: 30px;
        weight: bold;
    }
}